body{
   
        margin-top: 20px; 
        text-align: center; 
        padding-top: 20px; 
        justify-content: center;
        justify-items: center;
    
    }

.card{
    position: relative;
    width: 380px;
    height: 480px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: 	#FFE4E1;
    background-size: 490px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 450px;
    flex-direction: column;
}